<div class="picture_modal_wrap md_modal_wrap" my-modal-position>

  <div class="md_modal_head">
    <div class="md_modal_title_wrap">
      <div class="md_modal_actions_wrap clearfix">
        <a class="md_modal_action md_modal_action_close" ng-click="$close()" my-i18n="modal_close"></a>
      </div>
      <div class="md_modal_title">
        <span my-i18n="picture_modal_title"></span>
      </div>
    </div>
  </div>

  <div class="md_modal_body">
    
    <div class="picture_modal_body_wrap">
      <div class="live-display">
        <ng-camera
          output-width="520"
          output-height="400"
          image-format="jpeg"
          jpeg-quality="100"
          action-message="Take picture"
          snapshot="capture"
          overlay-url=""
        ></ng-camera>
      </div>
      <img ng-if="capture" src="{{ capture }}" alt="">
    </div>

  </div>

  <div class="md_simple_modal_footer">
    <div class="picture_media_attach">
      <input type="file" class="picture_media_attach_input" size="28" multiple="multiple" accept="image/*, video/*, audio/*" title="{{'im_media_attach_title' | i18n}}"/>
      <button class="btn btn-md btn-md-primary" my-i18n="picture_upload_from_file_button"></button>
    </div>
    <button class="btn btn-md" ng-click="upload()" my-i18n="picture_upload"></button>
  </div>


</div>